<div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="jumbotron bg-light p-5 rounded">
          <h1 class="display-4">{{ appTitle }}</h1>
          <p class="lead"> Angular fundamentals</p>
          <hr class="my-4">
          
          <div class="card mt-4">
            <div class="card-body">
              <h3 class="card-title">Application Information</h3>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <strong>Version:</strong> {{ version }}
                </li>
                <li class="list-group-item">
                  <strong>Status:</strong> 
                  <span class="badge bg-success" *ngIf="isActive">Active</span>
                  <span class="badge bg-danger" *ngIf="!isActive">Inactive</span>
                </li>
                <li class="list-group-item">
                  <strong>Current Year:</strong> {{ currentYear }}
                </li>
                <li class="list-group-item">
                  <strong>Developer:</strong> {{ studentName }}
                </li>
                <li class="list-group-item">
                  <strong>Course:</strong> {{ course }}
                </li>
              </ul>
            </div>
          </div>
  
          <div class="mt-4">
            </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

